// Body
$body-color: #111111;
$btn-disabled-color: #707070;
$btn-dark-color: #232323;
$btn-dark-hover-color: #AEAEAE;

// Units
$unit-margin: 5px;
$unit-border: 1px solid #ABABAB;

// Footer
$footer-font-size: 12px;
$footer-font-text-color: #707070;
$footer-font-link-default-color: #404040;
$footer-font-link-hover-color: #000000;

