<div class="row lucahome-row meal">
  <div class="col-4 meal-weekday-select-row">
    <div *ngFor="let weekdayEntry of weekdayArray">
      <button type="button"
              [ngClass]="{
              'btn btn-sm meal-button ' : true,
              'btn-outline-light' : weekdayEntry !== selectedWeekday,
              'btn-light' : weekdayEntry === selectedWeekday}"
              (click)="selectWeekday(weekdayEntry)">
        {{weekdayEntry}}
      </button>
    </div>
  </div>
  <div class="col-7 meal-weekday-data-row">
    <i class="edit-button" (click)="editTitle()"></i><label>Title</label><br /><span>{{title}}</span><br />
    <i class="edit-button" (click)="editDescription()"></i><label>Description</label><br /><span>{{description}}</span>
  </div>
</div>
