<div class="lucahome-container">

  <div class="row lucahome-row lucahome-content">

    <div class="row lucahome-row col-6">
      <app-map class="col-12 height-100-percent"></app-map>
    </div>

    <div class="row lucahome-row col-6">
      <app-temperature class="col-7 height-55-percent"></app-temperature>
      <app-security class="col-5 height-55-percent"></app-security>

      <div class="w-100 height-5-percent"></div>

      <app-meal class="col-6 height-40-percent"></app-meal>
      <app-shopping class="col-6 height-40-percent"></app-shopping>
    </div>

  </div>

  <div class="row lucahome-row lucahome-bottom">
    <app-footer class="col-10"></app-footer>
    <app-user class="col-2"></app-user>
  </div>

</div>


