<div class="lucahome-container">

  <div class="row lucahome-row lucahome-content">

    <div class="row lucahome-row col-6">
      <lucahome-map class="col-12 height-100-percent"></lucahome-map>
    </div>

    <div class="row lucahome-row col-6">
      <lucahome-temperature class="col-7 height-55-percent"></lucahome-temperature>
      <lucahome-security class="col-5 height-55-percent"></lucahome-security>

      <div class="w-100 height-5-percent"></div>

      <lucahome-meal class="col-6 height-40-percent"></lucahome-meal>
      <lucahome-shopping class="col-6 height-40-percent"></lucahome-shopping>
    </div>

  </div>

  <div class="row lucahome-row lucahome-bottom">
    <lucahome-footer class="col-10"></lucahome-footer>
    <lucahome-user class="col-2"></lucahome-user>
  </div>

</div>
